<mat-expansion-panel class="noteInputContainer">
  <mat-expansion-panel-header>
      <mat-panel-title>
       Note
        </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="noteInputs">
      <mat-form-field>
  <input [(ngModel)]="note.title" matInput type="text" placeholder="Enter Note title">
      </mat-form-field>
</div>
<div>
    <mat-form-field>
  <textarea  [(ngModel)]="note.text" matInput placeholder="Enter Note text"></textarea>
    </mat-form-field>
</div>
  <div class="noteButton">
   <button mat-button (click)="takeNote()">Click Me</button>
  </div>
</mat-expansion-panel>

<mat-card *ngFor="let note of noteArray">
    <mat-card-title>{{note.title}}</mat-card-title>
    <mat-card-content>{{note.text}}</mat-card-content>

</mat-card> 